body{
    font-family: Arial, sans-serif;
    background:#0f0f0f;
    color:#fff;
    padding:20px;
}

h1{
    text-align:center;
    color:#ff0000;
}

.logo{
    width:70px;
    display:block;
    margin:auto;
}

.container{
    max-width:900px;
    margin:auto;
    background:#1b1b1b;
    padding:20px;
    border-radius:10px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border-radius:6px;
    border:none;
}

button{
    background:#ff0000;
    color:#fff;
    border:none;
    padding:12px;
    width:100%;
    margin-top:15px;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#cc0000;
}
